<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../asset/favicon.ico" />
    <link rel="stylesheet" href="../style/global.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.css"
    />
    <title>Book store</title>
  </head>
  <body class="container-fluid h-100 p-0">
    <header
      style="border-color: #0e8ed7 !important; z-index: 5"
      class="container-fluid bg-light d-none d-xl-flex justify-content-center py-3 border-top border-5 shadow-sm"
    >
      <section
        class="container-xxl d-flex flex-row justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center">
          <img
            style="width: 60px"
            class="img-fluid"
            src="../asset/logo.webp"
            alt="book store logo"
          />
          <a href="../index.html" class="h3 text-decoration-none ms-3 fw-bold">
            <span class="textPrimaryColor">Book</span>
            <span class="textSecondaryColor">Store</span>
          </a>
        </div>
        <nav>
          <ul class="d-flex flex-row gap-5 m-0 p-0">
            <li class="list-unstyled">
              <a
                target="_blank"
                href="https://www.instagram.com/joanorlandopurba/"
                class="text-decoration-none text-dark"
                >Instagram</a
              >
            </li>
            <li class="list-unstyled">
              <a
                target="_blank"
                href="https://github.com/joanpoerba"
                class="text-decoration-none text-dark"
                >Github</a
              >
            </li>
            <li class="list-unstyled">
              <a
                target="_blank"
                href="https://www.linkedin.com/in/joanpurba/"
                class="text-decoration-none text-dark"
                >LinkedIn</a
              >
            </li>
          </ul>
        </nav>
        <a
          target="_blank"
          href="https://api.whatsapp.com/send/?phone=%2B6282275338090&text=Halo+joann..+hehehehhe&type=phone_number&app_absent=0"
          class="btn bgPrimaryColor rounded-2 py-1 px-3 text-light fw-semibold"
        >
          Contact me
        </a>
      </section>
    </header>
    <header style="border-color: #0e8ed7 !important; z-index: 5;" class="container-fluid d-block d-xl-none p-0 px-3 py-3 m-0 bg-light shadow-sm border-top border-5">
      <div class="row flex-row justify-content-between align-items-center p-0 m-0">
        <div class="col-5 col-sm-3 col-md-2 d-flex flex-row align-items-center p-0">
          <img class="col-4 img-fluid" src="../asset/logo.webp" alt="">
          <a href="../index.html" class="h3 text-decoration-none ms-2 m-0 fw-bold d-flex flex-row">
            <span class="textPrimaryColor">Book</span>
            <span class="textSecondaryColor">Store</span>
          </a>
        </div>
        <div class="col-auto humburger d-flex justify-content-center p-0">
          <div class="line rounded-5"></div>
        </div>
      </div>
      <nav class="mt-4 d-none">
        <ul class="text-center p-0">
            <li class="list-unstyled mt-4">
              <a
                target="_blank"
                href="https://www.instagram.com/joanorlandopurba/"
                class="text-decoration-none text-dark"
                >Instagram</a
              >
            </li>
            <li class="list-unstyled mt-4">
              <a
                target="_blank"
                href="https://github.com/joanpoerba"
                class="text-decoration-none text-dark"
                >Github</a
              >
            </li>
            </li>
            <li class="list-unstyled mt-4">
              <a
                target="_blank"
                href="https://www.linkedin.com/in/joanpurba/"
                class="text-decoration-none text-dark"
                >LinkedIn</a
              >
            </li>
            <li class="list-unstyled mt-4">
              <a
                target="_blank"
                href="https://api.whatsapp.com/send/?phone=%2B6282275338090&text=Halo+joann..+hehehehhe&type=phone_number&app_absent=0"
                class="btn bgPrimaryColor rounded-2 py-1 px-3 text-light fw-semibold w-100"
              >
                Contact me
              </a>
            </li>
        </ul>
      </nav>
    </header>
    <main class="container-fluid row h-100 d-flex justify-content-center align-items-center p-0 m-0">
      <div class="col-12 col-sm-8 col-md-5 col-xl-3 d-flex flex-column align-items-center py-5">
        <img class="col-5 rounded-circle" src="../asset/developer.webp" alt="">
        <p class="mt-2">joan purba | developer</p>
        <p class="text-center col-12 mt-5">hola! nice to meet u, im joan n im the developer who create this website for web design competition from politeknik negri bali. enjoy!</p>
        <p class="mt-5 fw-medium">maaf masih pemula 🙏</p>
      </div>
    </main>
    <script src="../js/humburger.js"></script>
  </body>
</html>
